<%- include ('_layouts/header') %> 

    <div class="m-50">
        <div class="container">
            <div class="row">
                <form method="post" action="/search" class="form1 center">
                    <input type="text" name="search" placeholder="Search">
                    <button class="btn" type="submit">Search</button>
                </form>
            </div>
        </div>
    </div>

     <% if (books.length == 0) { %>
        <h3> No Book at the moment </h3>
    <% } else { %>

        <!-- All Books -->
        <div class="small-container">
            <h2 class="title">All Books</h2>
            <div class="row">

                <% books.forEach(book => { %>
                <div class="column-4">
                    <img src="/book_images/<%= book.id %>/<%= book.image %>" alt="">
                    <h4><%= book.title %></h4>
                    <p><%= book.desc.substring(0,50) + "..."%></p>
                    <small><a href="/books/<%= book.slug %>" class="btn">View Book</a></small>
                </div>
                <% }) %>

            </div>
        </div>
        
    <% } %>

<%- include ('_layouts/footer') %> 