<%- include ('_layouts/header') %> 

<div class="m-50">
    <div class="container">
        <div class="row">
            <form method="post" action="/search" class="form1 center">
                <input type="text" name="search" placeholder="Search" value="<%= search %>">
                <button class="btn" type="submit">Search</button>
            </form>
        </div>
    </div>
</div>



<% if (books.length === 0 & medias.length === 0 & resources.length === 0 & journals.length === 0 & conferences.length === 0) { %>
 <div class="small-container">
    <div class="row">
        <h4>No result found.</h4>
    </div>
 </div>
 <br><br><br><br><br>
<% } else { %>

    <!-- Journal search -->
    <% if (journals.length === 0) { %>
        <div class="small-container">
                <h3 class="title">Result in Journals</h3>
            <div class="row">
                <h4>No result found in Journals.</h4>
            </div>
        </div>
        <br><br>
    <% } else { %>
        <div class="small-container">
            <h3 class="title">Result in Journals</h3>
            <div class="row">

                <% journals.forEach(journal => { %>
                <div class="column-4">
                    <img src="/journal_images/<%= journal.id %>/<%= journal.image %>" alt="">
                    <h4><%= journal.title %></h4>
                    <p><%= journal.desc.substring(0,50) + "..."%></p>
                    <small><a href="/journals/<%= journal.slug %>" class="btn">View Journal</a></small>
                </div>
                <% }) %>

            </div>
        </div>
    <% } %> 

<!-- Books search -->
    <% if (books.length === 0) { %>
        <div class="small-container">
                <h3 class="title">Result in Books</h3>
            <div class="row">
                <h4>No result found in Books.</h4>
            </div>
        </div>
        <br><br>
    <% } else { %>
        <div class="small-container">
            <h3 class="title">Result in Books</h3>
            <div class="row">

                <% books.forEach(book => { %>
                <div class="column-4">
                    <img src="/book_images/<%= book.id %>/<%= book.image %>" alt="">
                    <h4><%= book.title %></h4>
                    <p><%= book.desc.substring(0,50) + "..."%></p>
                    <small><a href="/books/<%= book.slug %>" class="btn">View Book</a></small>
                </div>
                <% }) %>

            </div>
        </div>
    <% } %> 

<!-- Conferences search -->
    <% if (conferences.length === 0) { %>
        <div class="small-container">
                <h3 class="title">Result in Conferences</h3>
            <div class="row">
                <h4>No result found in Conferences.</h4>
            </div>
        </div>
        <br><br>
    <% } else { %>
        <div class="small-container">
            <h3 class="title">Result in Conferences</h3>
            <div class="row">

                <% conferences.forEach(conference => { %>
                <div class="column-4">
                    <img src="/conference_images/<%= conference.id %>/<%= conference.image %>" alt="">
                    <h4><%= conference.title %></h4>
                    <p><%= conference.desc.substring(0,50) + "..."%></p>
                    <small><a href="/conferences/<%= conference.slug %>" class="btn">View Conference</a></small>
                </div>
                <% }) %>

            </div>
        </div>
    <% } %> 

<!-- Medias search -->
    <% if (medias.length === 0) { %>
        <div class="small-container">
                <h3 class="title">Result in Medias</h3>
            <div class="row">
                <h4>No result found in Medias</h4>
            </div>
        </div>
        <br><br>
    <% } else { %>
        <div class="small-container">
            <h3 class="title">Result in Medias</h3>
            <div class="row">

                <% medias.forEach(media => { %>
                <div class="column-4">
                    <img src="/images/video-preview.png" alt="">
                    <h4><%= media.title %></h4>
                    <p><%= media.desc.substring(0,50) + "..."%></p>
                    <small><a href="/medias/<%= media.slug %>" class="btn">View Media</a></small>
                </div>
                <% }) %>

            </div>
        </div>
    <% } %> 

<!-- Resources search -->
    <% if (resources.length === 0) { %>
        <div class="small-container">
            <h3 class="title">Result in Resources</h3>
            <div class="row">
                <h4>No result found in Resources</h4>
            </div>
        </div>
        <br><br>
    <% } else { %>
        <div class="small-container">
            <h3 class="title">Result in Resources</h3>
            <div class="row">
                <% resources.forEach(resource => { %>
                <div class="column-4">
                    <h4><%= resource.title %></h4>
                    <p><%= resource.desc%></p>
                    <small><a target="_blank" href="<%= resource.link %>" class="btn">View Resources</a></small>
                </div>
                <% }) %>

            </div>
        </div>
    <% } %> 

<% } %> 
<br><br><br>
<%- include ('_layouts/footer') %> 