<%- include ('../views/_layouts/adminheader') %> 

<h1 class="page-title">Journals</h1>
<a href="/admin/journals/add-journal" class="btn btn-primary">Add a new Journal</a>
<br> <br>

<% if (count > 0) { %>
 
<table class="table table-striped alignmiddle">

    <thead>
        <tr class="home">
            <th>Journals</th>
            <th>Journal Image</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>

    <tbody>

        <% journals.forEach(journal => { %>
        <tr>
            <td> <%= journal.title %>  </td>
            <td> 

                <% if (journal.image == "") { %> 
                    <img id="noimage" src="/images/noimage.png">
                <% } else { %>
                    <img id="noimage" src="/journal_images/<%= journal.id %>/<%= journal.image %>">
                <% } %>


            </td>
            <td><a class="btn btn-primary" href="/admin/journals/edit-journal/<%= journal._id %>">Edit</a></td>

            <td><a class="confirmDeletion btn btn-danger" href="/admin/journals/delete-journal/<%= journal._id %>">Delete</a></td>

            
        </tr> 

        <% }) %>

    </tbody>

</table>

<% } else { %>
    <h3 class="text-center">There are no Journals</h3>
<% } %>


<!-- Jquery UI -->
<!-- <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script> -->
<!-- offline J1query UI -->
<script src="/js/jquery-ui.js"></script>


<%- include ('../views/_layouts/adminfooter') %> 